<div class="ficha">
  <% i = client_index %>
  <div class="row">
    <div class="col col-2">
      l
    </div>
    <div class="col col-10">
      <div class="row">
        <div class="col col-12">Nome: <%= @client_names[i] %></div>
      </div>
      <div class="row">
        <div class="col col-4">RG: <%= @client_rgs[i] %></div>
        <div class="col col-4">CPF: <%= @client_cpfs[i] %></div>
        <div class="col col-4">Tel: <%= @client_phones[i] %></div>
      </div>
      <div class="row">
        <div class="col col-12">Endereço: <%= @client_addresses[i] %></div>
      </div>
      <div class="row">
        <div class="col col-6">Bairro: <%= @client_neighborhoods[i] %></div>
        <div class="col col-6">Cidade: <%= @client_cities[i] %></div>
      </div>
      <div class="row">
        <div class="col col-12">Central</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-header col-1">
      Quant
    </div>
    <div class="col col-header col-5">
      Artigo
    </div>
    <div class="col col-header col-1">
      D
    </div>
    <div class="col col-header col-1">
      V
    </div>
    <div class="col col-header col-2">
      PUnit
    </div>
    <div class="col col-header col-2">
      Soma
    </div>
  </div>
  <% 10.times do%>
    <div class="row">
      <div class="col col-header col-1"></div>
      <div class="col col-header col-5"></div>
      <div class="col col-header col-1"></div>
      <div class="col col-header col-1"></div>
      <div class="col col-header col-2"></div>
      <div class="col col-header col-2"></div>
    </div>
  <% end %>
</div>